<!--
  Generated template for the Smoelenboek page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="logoContainer">
      <span class="logo_background">
        <img src="assets/images/businesstijd-logo.png" />
      </span>
    </div>
    <ion-title>Bestuur</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!--<ion-searchbar placeholder="Zoek lid..." (ionInput)="searchData($event)" (ionClear)='clearSearch($event)' (keyup)="searchKeyupEvent($event)"></ion-searchbar>-->
  <ion-list>
    <ion-refresher pulling-text="het laden..." (ionRefresh)="doRefresh($event)"></ion-refresher>
    <ion-item *ngFor="let teams of team">
   
   <ion-thumbnail item-left>
        <img *ngIf="!teams.featured_img_url.medium" src="assets/images/dummy_usr.jpg" />
          <img *ngIf="teams.featured_img_url.medium" src="{{ teams.featured_img_url.medium }}" />
      </ion-thumbnail>
       <h3>{{ teams.post_title }}</h3>
      <h4 >
           {{ teams.post_content }}
      </h4>
      <div class="foto-btn">
     
         <button ion-button color="secondary" (click)="mailTo(teams.post_meta.bestuur_portfolio_email[0])">E-Mail</button>
      <!--<button ion-button clear item-right (click)="viewDetail(user)">Uitzicht</button>-->
      </div>
    </ion-item>
  </ion-list>

</ion-content>
