page-nieuwsbrief-registreren {
    .popupBtn {
        float: left;
        margin: 0 10px;
        padding:0px;
    }
    .ion-md-close{
        padding:10px;
    }
    .popupTitle {
        float: left;
        .toolbar-title-ios {
            padding-left: 70px;
        }
    }
}
